.game {
  &__main {
    display: grid;
    grid-template-areas: 
    "title title"
    "nav nav"
    "img start"
    ;
    margin: auto;
    width: 720px;
    height: 400px;
    background: white;
    border: 5px solid blue;
    border-radius: 20px;
    font-size: 16px;
  }

  &__title {
    grid-area: title;
    text-align: center;
  }

  &__img {
    height: 230px;
    margin: auto;
    margin-bottom: 0px;
    box-sizing: border-box;
    object-fit: cover;
    grid-area: img;
  }

  &__button {
    grid-area: start;
    margin: auto 0;
    width: max-content;
  }
}
