.forum {
  &__link {
    width: max-content;
    margin-bottom: 20px;
    padding: 0 26px;
  }

  &__btns {
    display: flex;
    gap: 20px;
  }

  &__btn {
    width: max-content;
    padding: 0 26px;
  }
}
